{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
	{% load static %}
	
	<!-- Global Stuff -->
    <link rel="stylesheet" type="text/css" href="{% static 'MC/stylesheet.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Optional JavaScript -->
	
    <!-- Dynamically include a title -->
    <title>{% block title %}Default Title{% endblock %}</title>
  
    <!-- Dynamically include extra styling -->
    {% block stylesheet %}{% endblock %}
</head>

<body style="height:100%;">
    <div class="container cont-col" style="width:100%;">
        <!-- Header -->
        <div id="header" class="visible">
            <h1>Boeing Mission Control</h1>
        </div>

        <!-- Content here gets extended -->
        <div>
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <div id="footer" class="visible">
            <h3>Jordi Kitto, | Klein Geard | Giselle Brooks | Liam Dale | Jeremy Lai</h3>
        </div>
    </div>

	<!-- Dynamically include extra javascript -->
    {% block javascript %}{% endblock %}
</body>

</html>