{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
Map Display
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <form action="/MC/" method="post" enctype="multipart/form-data" class="centred">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <button type="button" onclick="showMap()">Generate Route</button>
    <iframe hidden id="map" width="100%" height="800" frameborder="0" src="https://kleingeard.carto.com/builder/01823822-828d-4c4b-b51f-854b212eb0d4/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B-25.268915156482656%2C151.20483398437503%5D%2C%22sw%22%3A%5B-24.784240964957117%2C152.51220703125003%5D%2C%22center%22%3A%5B-25.02681733121245%2C151.85852050781253%5D%2C%22zoom%22%3A11%7D%2C%22widgets%22%3A%7B%2237e3b4e4-30d0-4c8e-8b51-2570677b5e0d%22%3A%7B%22normalized%22%3Atrue%7D%7D%7D" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


  <div style="height:100%;">
    <div class="container cont-row visible">
        <div class="visible">
            <div id="mapid" style="width:100%; height:500px; margin:auto;"></div>
        </div>
        <div class="visible">
            <form action="/MC/" method="post" enctype="multipart/form-data" class="centred">
                {% csrf_token %}
                {{ form.as_p }}
                <input name="subType" type="submit" value="Submit">
                <input name="subType" type="submit" value="Submit (OrTools)">
            </form>
            <br />
            <button type="button" onclick="changeView('previous')">PREV</button>
            <button type="button" onclick="resetView()">RESET</button>
            <button type="button" onclick="changeView('next')">NEXT</button>
        </div>
    </div>
     {{ distCost }}
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
<script>
var mymap;
var group;
var latlong = {{ latlong | safe }};

var currentPos = -1;
var prevPos = -1;
var nextPos = -1;
var change = null;

// Draw the map
function drawMap(coords_array) {
	// Create a map
	mymap = L.map('mapid').setView(coords_array[0], 15); // Initially 1st icon
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png' +
				'?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXV' +
				'ycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: '',
		id: 'mapbox.streets'
	}).addTo(mymap);


    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    myColors = ['red', 'green', 'black', 'blue', 'magenta', 'yellow'];
    //myColor = myColors[0];
    myColor = getRandomColor()
    var colour_counter = 0;
	// Add markers in the coordinates array
	for (var i = 0; i < coords_array.length - 1; i++) {
		var pointA = new L.LatLng(coords_array[i][0], coords_array[i][1]);
        var pointB = new L.LatLng(coords_array[i + 1][0], coords_array[i + 1][1]);

        if (coords_array[i][0] == coords_array[0][0] && coords_array[i][1] == coords_array[0][1]) {
            //colour_counter++;
            //myColor = myColors[colour_counter % myColors.length];
            myColor = getRandomColor()
        }
		var firstpolyline = new L.Polyline([pointA, pointB], {
            color: myColor,
			weight: 1,
			opacity: 0.5,
			smoothFactor: 1
		});
		firstpolyline.addTo(mymap);
	}

    group = L.featureGroup().addTo(mymap)
	// Add markers in the coordinates array
    for (var i = 0; i < coords_array.length; i++) {
        marker = new L.circle(coords_array[i], 2)
            .bindPopup("Point " + (i + 1) + ": <br>" + coords_array[i][2],
            { autoClose: false })
            .addTo(group);
    }
</script>
{% endblock %}
